<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp8.Properties.Settings.PZKUPConnectionString"
            connectionString="Data Source=sql1c;Initial Catalog=PZKUP;User ID=27-бдКальсинИИ"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp8.Properties.Settings.PZKUPConnectionString1"
            connectionString="Data Source=sql1c;Initial Catalog=PZKUP;User ID=stud;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp8.Properties.Settings.PZKUPConnectionString2"
            connectionString="Data Source=62.78.81.19;Initial Catalog=PZKUP;Persist Security Info=True;User ID=27-бдКальсинИИ"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp8.Properties.Settings.PZKUPConnectionString3"
            connectionString="Data Source=62.78.81.19;Initial Catalog=PZKUP;Persist Security Info=True;User ID=stud;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>